
.login-page{
    margin: 0px;
    padding-top: 15rem;
height: 100%;
width: 100%;
background-image: url("/assets/doodleBG.jpg");
background-size: 100%;
/* background: rgba(0, 0, 0, 0.103); */
/* background-repeat: repeat-y; */
}

.login-form{
    margin: auto;
    margin-top: -10rem;
min-height: 35rem;
width: 30rem;
background: rgba(0, 0, 0, 0.856);
border-radius: 1rem;
border-style: outset;
border-width: 0.2rem;
border-color: rgba(255, 255, 255, 0.493);


}

.login-title{
    
    text-align: center;
    padding:auto;
    /* border:1px solid; */
    margin-top: 1rem;
    /* color: rgb(255, 0, 0); */
}

.input-element{
    margin: auto;
    justify-content: center;
}

.text-input{
    font-size: large;
    width: 100%;
    height: 3rem;
    border-radius: 1rem;
    /* border: 1px solid; */
    padding-left: 1rem;
    /* background-color: aquamarine; */
}
.input-label{
    font-size: large;
    height: 2rem;
    padding-left: 1rem;
}

.form-btn{
    
    font-size: x-large;
    width: 100%;
    height: 3rem;
    /* margin-top: 7rem; */
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    /* border: 1px solid; */
    border-radius: 2rem;
}
