 .hero {
        width: 100%;
        height: 10rem;
        overflow: hidden;
        margin-bottom: -3.5rem;
    }

    .hero img {
        width: 100%;
        height: auto;
        opacity: 0.2;
    }