<!-- <mat-grid-tile> -->
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{productInfo().title}}</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                {{productInfo().description}}
            </p>
            <p>
                {{productInfo().price}}
            </p>
            <p>
                {{productInfo().rating}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button matButton ><mat-icon>add_shopping_cart</mat-icon></button>
            <button matButton ><mat-icon>favorite</mat-icon></button>
            <button matButton ><mat-icon>share</mat-icon></button>
        </mat-card-actions>
    </mat-card>
<!-- </mat-grid-tile> -->