<!-- <mat-grid-tile> -->
<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>

    </mat-card-header>
    <img mat-card-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <!-- <mat-card-title>{{productInfo().title}}</mat-card-title> -->
         <p class="card-title">{{productInfo().title}}</p>
        <p id="product-details">
            {{productInfo().description}}
        </p>
        <h5 style="margin-bottom: 1rem;">
            <span style="color: rgb(253, 127, 53);">{{ productInfo().price | currency:"RON "}}</span>
        </h5>
        <h6 style="margin-bottom: 1rem;">
            <span style="color:rgb(255, 255, 143);">{{productInfo().rating}} /5</span>
        </h6>
    </mat-card-content>
    <span style="min-height: 3rem;"></span>
    <div class="container-fluid" [style]="addStyles([autoMargins])">
        <div class="row" style="margin-bottom: 1rem;">
            <!-- <div class="col" [style]="addStyles([padd0,autoMargins,autoPadd,border])"> -->
                <button matButton [style]="addStyles([border])"><mat-icon>add_shopping_cart</mat-icon></button>
            <!-- </div> -->
        </div>
        <div class="row" style="margin-bottom: 1rem;">

            <div class="col-sm-6" [style]="addStyles([autoPadd,autoMargins])">
                <button matButton ><mat-icon>favorite</mat-icon></button>
            </div>
            <div class="col-sm-6" [style]="addStyles([autoPadd,autoMargins])">
                <button matButton><mat-icon>share</mat-icon></button>
            </div>
        </div>
    </div>
</mat-card>
<!-- </mat-grid-tile> -->