.card {
  max-width: 20rem;
  background-color: rgba(255, 255, 255, 0.068);
}

.example-header-image {
    max-width: inherit;
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

/* larger icons inside the card actions */
.card mat-icon {
  vertical-align: middle;
  margin: auto;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}
