mat-grid-tile{
    /* background-color: brown; */
    margin: 2rem;
}

#content_grid {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.content-spacer{
    flex:1;
    width: 1rem;
}

table{
    flex: 10;
    /* border: 5px solid; */
    flex:auto;
    border-spacing: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#larger-button{
     vertical-align: middle;
  margin: auto;
  font-size: 2rem;
  width: 2rem;
  height: 3rem;
  line-height: 2.5rem;
}