.card {
  /* display: inline-flex; */
  margin: 0.5rem;
  padding-right: 2rem;
  /* max-width: auto; */
  background-color: rgba(255, 255, 255, 0.068);
  min-height: 8rem;
  border-radius: 1rem;
}

.example-header-image {
  max-width: inherit;
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

/* larger icons inside the card actions */
.card mat-icon {
  /* color: rgb(187, 35, 35); */
  /* float: right; */
  vertical-align: middle;
  margin: auto;
  /* margin-bottom: 2rem; */
  font-size: 2rem;
  width: 4rem;
  height: 2rem;
  line-height: 2rem;
}

#larger-button{
     vertical-align: middle;
  margin: auto;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  line-height: 2rem;
}

mat-card-title {
  font-size: medium;
  max-width: 18rem;
  max-height: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0.5rem;
}

.card-title{
  font-weight: bold;
  font-size: medium;
  max-width: 18rem;
  min-height: 3rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
}

mat-card img {
  margin-bottom: 1rem;
  width: 18rem;
}
#price{
 margin-bottom: 0.5rem; 
 font-size: 1rem;
 color: rgb(253, 127, 53);
}

#rating{
 margin-bottom: 0rem;
 
}
#rating span{
color:rgb(255, 255, 143);
}

#product-details {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 6rem;
}

#quantity-btn-group{
  border-radius: 0.2rem;
  margin-bottom:-1.5rem;
  width:4rem;
  margin-left: auto;
  margin-right: auto;
}
.quantityDisplay {
    min-height: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    font-size: 1rem;
    width: 4rem;
    border:2px solid rgba(0, 0, 0, 0.336);
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}

#quantity-btn-group .btn {
    width: 2rem;
    /* border-radius: 0.1rem; */
}

.quantityBtn mat-icon {
    vertical-align: middle;
  margin: auto;
  /* margin-bottom: 2rem; */
  font-size: 2rem;
  width: 2rem;
  height: 1rem;
  line-height: 1rem;
}