<span class="content-spacer"></span>
<div id="content-grid">
    <span class="content-spacer"></span>
<table >
    <tr>
        <td>
            <product-card></product-card>
        </td>
        <td>
            <product-card></product-card>
        </td>
        <td>
            <product-card></product-card>
        </td>
        <td>
            <product-card></product-card>
        </td>
    </tr>
    <tr>
        <td>
            <product-card></product-card>
        </td>
        <td>
            <product-card></product-card>
        </td>
        <td>
            <product-card></product-card>
        </td>
        <td>
            <product-card></product-card>
        </td>
    </tr>
</table>
<span class="content-spacer"></span>
</div>